<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="tpURLFactory" name="tpURLFactory" class="com.acgsior.factory.URLFactory">
		<constructor-arg name="URLMap">
			<map>
				<entry value="http://timepill.net/people/{0}">
					<key>
						<util:constant static-field="com.acgsior.factory.URLFactory.PERSON" />
					</key>
				</entry>
				<entry value="http://timepill.net/notebook/{0}">
					<key>
						<util:constant static-field="com.acgsior.factory.URLFactory.NOTEBOOK" />
					</key>
				</entry>
				<entry value="http://timepill.net/notebook/{0}/{1}">
					<key>
						<util:constant static-field="com.acgsior.factory.URLFactory.NOTEBOOK_DATE" />
					</key>
				</entry>
				<entry value="http://timepill.net/diary/{0}">
					<key>
						<util:constant static-field="com.acgsior.factory.URLFactory.DIARY" />
					</key>
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<bean id="imagePathFactory" name="imagePathFactory" class="com.acgsior.factory.ImagePathFactory">
		<constructor-arg name="imageTypeBasePathMap">
			<map>
				<entry value="/Users/Yove/Temp/timepill/avatar/">
					<key>
						<util:constant static-field="com.acgsior.image.ImageType.AVATAR" />
					</key>
				</entry>
				<entry value="/Users/Yove/Temp/timepill/cover/">
					<key>
						<util:constant static-field="com.acgsior.image.ImageType.COVER" />
					</key>
				</entry>
				<entry value="/Users/Yove/Temp/timepill/image/">
					<key>
						<util:constant static-field="com.acgsior.image.ImageType.IMAGE" />
					</key>
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<bean id="imageSyncDownloader" name="imageSyncDownloader" class="com.acgsior.image.ImageSyncDownloader">
		<property name="imagePathFactory" ref="imagePathFactory" />
	</bean>

	<!-- === SELECTORS === -->
	<bean id="personNameSelector" name="personNameSelector" class="com.acgsior.selector.impl.TextObjectSelector">
		<property name="pattern" value=".user-info h2 a" />
		<property name="id" value="person.name" />
	</bean>

	<bean id="registerDateSelector" name="registerDateSelector" class="com.acgsior.selector.impl.DateObjectSelector">
		<property name="pattern" value=".user-info p" />
		<property name="id" value="person.registerDate" />
	</bean>

	<bean id="personDescriptionSelector" name="personDescriptionSelector"
	      class="com.acgsior.selector.impl.TextObjectSelector">
		<property name="pattern" value=".user-info pre" />
		<property name="id" value="person.description" />
	</bean>

	<bean id="avatarSelector" name="avatarSelector" class="com.acgsior.selector.impl.ImageObjectSelector">
		<property name="pattern" value=".user-info a img" />
		<property name="attributePattern" value="src" />
		<property name="imageType">
			<util:constant static-field="com.acgsior.image.ImageType.AVATAR" />
		</property>
		<property name="synchronize" value="true" />
	</bean>

	<bean id="personSelector" name="personSelector" class="com.acgsior.selector.impl.PersonObjectSelector">
		<property name="pattern" value="body" />
		<property name="syncSelectors">
			<array>
				<ref bean="personNameSelector" />
				<ref bean="registerDateSelector" />
				<ref bean="personDescriptionSelector" />
			</array>
		</property>
	</bean>

	<bean id="notebookIdSelector" name="notebookIdSelector"
	      class="com.acgsior.selector.impl.notebook.NotebookIdSelector">
		<property name="pattern" value="h3 a" />
		<property name="attributePattern" value="href" />
		<property name="id" value="notebook.tid" />
	</bean>

	<bean id="notebookNameSelector" name="notebookNameSelector" class="com.acgsior.selector.impl.TextObjectSelector">
		<property name="pattern" value="h3 a" />
		<property name="id" value="notebook.name" />
	</bean>

	<bean id="notebookBeginEndDateSelector" name="notebookBeginEndDateSelector"
	      class="com.acgsior.selector.impl.notebook.NotebookBeginEndDateSelector">
		<property name="pattern" value="p" />
		<property name="id" value="beginEnd" />
	</bean>

	<bean name="notebookSelector" id="notebookSelector" class="com.acgsior.selector.impl.NotebookObjectSelector">
		<property name="pattern" value=".notebooks .notebook" />
		<property name="syncSelectors">
			<array>
				<ref bean="notebookIdSelector" />
				<ref bean="notebookNameSelector" />
				<ref bean="notebookBeginEndDateSelector" />
			</array>
		</property>
	</bean>
</beans>